<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="apple-touch-icon" sizes="180x180" href='<%= asset("apple-touch-icon.png") %>'>
	<link rel="icon" type="image/png" sizes="32x32" href='<%= asset("favicon-32x32.png") %>'>
	<link rel="icon" type="image/png" sizes="16x16" href='<%= asset("favicon-16x16.png") %>'>
	<link rel="manifest" href='<%= asset("site.webmanifest") %>'>
	<link rel="mask-icon" href='<%= asset("safari-pinned-tab.svg") %>' color="#003ee6">
	<meta name="msapplication-TileColor" content="#003ee6">
	<meta name="theme-color" content="#003ee6">
	<title>Prism | How it works</title>
	<link rel='stylesheet' href='<%= asset("css/style.min.css") %>' />
</head>
<body>
	<% include ./partials/navbar %>
	<% include ./partials/page_hero %>
	<!-- Page content -->
	<div class="page">
		<div class="container">
			<div class="page__inner">
				<div class="page__menu">
					<ul class="vMenu">
							<li><a href="/the-goal">The Goal</a></li>
							<li><a href="/who-is-it-for">Who is it for</a></li>
							<li><a href="/how-it-works" class="vMenu--active">How it works</a></li>
					</ul>
				</div>
				<div class="page__main">
					<div class="text-container">
						<h3 class="page__main__title">How it works</h3>
						<p>
							To use Prism OS, the board needs to be flashed for the first time using prism command line tool, after which all future updates and installs can happen directly without any computer.
							Prism OS requires boards that have WiFi connectivity like esp8266, esp32 etc.
						</p>
						<p>
							We are planning to release a reference unit through crowdfunding platforms or otherwise that would be ready to go out of the box and straight forward for general consumers.
						</p>
						<div class="content__image_set">
							<img src="./images/screenshots/app-page.png" class="content__image"/>
							<img src="./images/screenshots/connected.png" class="content__image"/>
						</div>
						<p>
							After first flash, users can download and install the Prism companion app available for both Android and iOS platform, after which the phone app can be used to install apps, software updates and even control the device directly.
							Once paired and signed in, <span class='stress'>users can install apps onto the device from anywhere in the world directly from Prism App Store's web app!</span>
						</p>
						<div class="content__image_set">
							<img src="./images/screenshots/app-permissions.png" class="content__image"/>
							<img src="./images/screenshots/control.png" class="content__image"/>
							<img src="./images/screenshots/installed-apps.png" class="content__image"/>
							<img src="./images/screenshots/widgets.png" class="content__image"/>
						</div>
						<p>We are still working on the platform and will be releasing the API docs, SDK, companion apps and schematics etc very soon. Stay tuned in to know once it drops!</p>
					</div>
				</div>
			</div>
		</div>
	</div>

<script src='<%= asset("js/app.min.js") %>'></script>
<% include ./partials/analytics %>
</body>
</html>
